In [401]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.preprocessing import StandardScaler

In [402]:
train_df=pd.read_csv(r'E:\titanic\train.csv')

In [403]:
df=train_df.drop(columns=['PassengerId','Cabin','Name','Ticket'])

In [404]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [405]:
x=df.iloc[:,1:8]
y=df.iloc[:,0]

In [406]:
# check null value 
x.isnull().sum()

Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [407]:
# fill tthe null value 
x['Age']=x['Age'].fillna(x['Age'].mean())
x['Embarked']=x['Embarked'].fillna('S')

In [408]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [409]:
x_train

     Pclass     Sex        Age  SibSp  Parch      Fare Embarked
331       1    male  45.500000      0      0   28.5000        S
733       2    male  23.000000      0      0   13.0000        S
382       3    male  32.000000      0      0    7.9250        S
704       3    male  26.000000      1      0    7.8542        S
813       3  female   6.000000      4      2   31.2750        S
..      ...     ...        ...    ...    ...       ...      ...
106       3  female  21.000000      0      0    7.6500        S
270       1    male  29.699118      0      0   31.0000        S
860       3    male  41.000000      2      0   14.1083        S
435       1  female  14.000000      1      2  120.0000        S
102       1    male  21.000000      0      1   77.2875        S

[712 rows x 7 columns]

In [410]:
cols=['Age','Fare']

In [411]:
#scaling the data
scale=StandardScaler()
x_train[cols]=scale.fit_transform(x_train[cols])
x_test[cols]=scale.transform(x_test[cols])

In [412]:
x_train=pd.get_dummies(x_train,columns=['Sex','Embarked'],drop_first=True)
x_test=pd.get_dummies(x_test,columns=['Sex','Embarked'],drop_first=True)

In [413]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

In [414]:
dt=DecisionTreeClassifier()

In [415]:
dt.fit(x_train,y_train)
y_pred=dt.predict(x_test)
accuracy_score(y_test,y_pred)

0.7877094972067039

In [416]:
lg=LogisticRegression()
lg.fit(x_train,y_train)
y_pred=lg.predict(x_test)
accuracy_score(y_test,y_pred)

0.8100558659217877

In [417]:
svc=SVC()
svc.fit(x_train,y_train)
y_pred=svc.predict(x_test)
print('accuracy_score:-',accuracy_score(y_test,y_pred))
print('cross_val_score:-',np.mean(cross_val_score(svc,x_train,y_train,cv=10,scoring='accuracy')))

accuracy_score:- 0.8156424581005587
cross_val_score:- 0.825802034428795

In [418]:
estimators=[('svc',SVC(probability=True)),('lg',LogisticRegression()),('dt',DecisionTreeClassifier())]

In [419]:
for i in estimators:
    x=cross_val_score(i[1],x_train,y_train,cv=10,scoring='accuracy')
    print(i[0],np.round(np.mean(x),2))

svc 0.83
lg 0.8
dt 0.75

In [420]:
vc = VotingClassifier(estimators=estimators,voting='hard')
x = cross_val_score(vc,x_train,y_train,cv=10,scoring='accuracy')
print(np.round(np.mean(x),2))

0.83

In [421]:
vc = VotingClassifier(estimators=estimators,voting='soft')
x = cross_val_score(vc,x_train,y_train,cv=10,scoring='accuracy')
print(np.round(np.mean(x),2))

# Same algoritham Use

In [ ]:
estimators=[('svc1',SVC(probability=True)),('svc2',SVC(probability=True)),('svc3',SVC(probability=True))]

In [ ]:
vc = VotingClassifier(estimators=estimators,voting='soft')
x = cross_val_score(vc,x_train,y_train,cv=10,scoring='accuracy')
print(np.round(np.mean(x),2))

0.83